// Birthday.scss
:root {
  --section-py: clamp(0, 2vw, 5rem);
  font-family: "Poppins", sans-serif;
}

.Sports {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.sports-top-wrapper {
  background-color: #f8f9fa;
}

.sports-top-wrapper .sports-container {
  padding-block: var(--section-py);
  padding-inline: 4rem;
}

.sports-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

@media (max-width: 992px) {
  .sports-top {
    flex-direction: column;
    text-align: center;
  }
}

.sports-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sports-image-wrapper .sports__badge {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.sports-content {
  flex: 1;
  max-width: 500px;
}

@media (max-width: 992px) {
  .sports-content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.sports-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #b00000;
}

.sports-description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #555;
}

.sports-button {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  color: #eeeeee;
  background-color: #b00000;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.sports-button:hover {
  background-color: #d20000;
}

@media (max-width: 992px) {
  .sports-top-wrapper .sports-container {
    padding-inline: 2rem;
  }
}
