*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
*,
body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Poppins', sans-serif;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  zoom: 0.9;
}

:root {
  --nav-link: #c98e59;
  --nav-link-active: #74471f;
  --footer-primary: #2a2e30;
  --button-primary: #bf8654;
}

.remove-scrolling {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper-assist {
  width: 1400px;
  padding: 50px 0;
}

.kuziSport {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
  height: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.main .wrapper-navbar {
  position: relative;
  z-index: 2;
}

@media (max-width: 1400px) {
  .wrapper-assist {
    width: 100%;
    padding: 50px 20px;
  }
}
