.footer-main-container {
  width: 100%;
  background-color: #d4d4d46c;
  color: #282828;
  font-size: 1.2rem;

  .footer-divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1.25rem 1.5rem;
  }
}

.footer-first-section,
.footer-second-section,
.footer-third-section {
  padding: 2rem 4rem 2rem 4rem;
}

.footer-first-section {
  .wrapper-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .wrapper-assist-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .footer-logo-container {
    width: 100%;
    padding: 0.625rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .kuziLogo {
      width: 3.125rem;
      height: auto;
    }
  }

  .footer-middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    padding-top: 1rem;

    .footer-menu-container {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: left;

      .footer-menu-header {
        margin-bottom: 0.5rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
      }

      .footer-menu-link {
        color: #282828;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.3s ease;
        letter-spacing: 0.1rem;

        &:hover {
          color: #E6332A;
        }
      }
    }
  }
}

.footer-second-section {
  .footer-address-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .footer-address-content {
      flex: 1;

      .footer-address-header {
        font-size: 1rem;
        font-weight: 700;
      }

      .footer-address-email {
        margin: 0.5rem 0;
        font-size: 1rem;
      }

      .footer-phone-numbers {
        p {
          margin: 0.25rem 0;
          font-size: 1rem;
        }
      }

      .footer-nip {
        margin-top: 0.5rem;
        font-size: 1rem;
      }
    }

    .footer-images-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;
    
      .footer-image-icon {
        img {
          width: 5rem !important;
          height: auto !important;
        }
      }
    }
  }
}

.footer-third-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-third-left {
    .footer-third-link {
      color: #282828;
      font-size: 1rem;
      text-decoration: none;

      &:hover {
        color: #E6332A;
      }
    }
  }

  .footer-third-right {
    font-size: 1rem;
  }
}

@media (max-width: 62.5rem) {
  .footer-middle {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 43.75rem) {
  .footer-menu-container {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 0;
  }
}
