.regulations-content {
    padding-inline-start: 1.5rem;
  
    h3 {
      margin-top: 0;
      margin-inline-start: 0;
      font-size: 1.25rem;
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
      color: #3b3b3b;
    }
  
    .regulations-list {
      margin-block-start: 1rem;
      margin-inline-start: 0;
      padding-inline-start: 0;
      list-style-position: outside;
      line-height: 1.6;
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      color: #3b3b3b;
    }
  }
  