.messageIconSection {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
  }
  
  .messageIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .messageIcon {
    width: 4rem;
    height: auto;
    object-fit: contain;
  }
  